//COLORS
$primary: #417FB8;
$primary-opacity50: #417FB850;
$primary-50: #417FB850;
$primary-shadow: #417FB820;
$cards: #B5D0CD;
$secondary: #E4EDF4;
$accent: #FF9A0D;
$title: #3E444F;
$text-light: #A5A7AC;
$white: #ffffff;
$error: #9B0808;
$success: #1AB420;
$green-dark: #275328;